*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    --black: #0d114f;
    --white: #fafafa;
    --light-blue: #e0ecff;
    --blue: #3485ff;
    --red: #e83f5b;
    --overlay: #040911;
    --background:#FBFCFF;
    --icons-details: #A5B0C1;
    --grey-dark:#4D5E77;
    --grey-blue:#A1B2CD;
    --grey-medium:#D3D9E2;
    --grey-light:#E5EAF1;
    --hover-blue:#5699FF;
    --hover-red:#EA4B65;
    --hover-grey:#8794A7;

    font-size: 62.5%;
}
body{
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
}